<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>665536521674-t04plljnaqsfdmkqgdogfji34urkpqbt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.665536521674-t04plljnaqsfdmkqgdogfji34urkpqbt</string>
	<key>API_KEY</key>
	<string>AIzaSyCToOXdYd3Uy8D-aRidkEnZNImwGXUbbfA</string>
	<key>GCM_SENDER_ID</key>
	<string>665536521674</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.rental-mgm-app</string>
	<key>PROJECT_ID</key>
	<string>shelter-of-dream</string>
	<key>STORAGE_BUCKET</key>
	<string>shelter-of-dream.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:665536521674:ios:6c94dd6ddcdff57d77db33</string>
	<key>DATABASE_URL</key>
	<string>https://shelter-of-dream.firebaseio.com</string>
</dict>
</plist>
